.task {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
}

.taskMain {
    flex:1;
    justify-content: space-between;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

form.taskMain {
    align-items: center;
}
 
.taskDate {
    color: gray;
    font-size: smaller;
    font-weight: 400;
}

.toggle{
    background-color: transparent;
    border: none;
    width: 1.2rem;
    display: flex;
    padding: 0;
    width: 1;
    color: gray;
}

svg {
    width: auto;
    height: auto;
}

.toggle.completed, .toggle:hover {
    color: var(--primary-color);
}


.toggle.on{
    border: 1px solid violet
}

.iconButton {
    height: 16px;
    width: 16px;
    display: flex;
    border: none;
    background-color: transparent;
    color: gray;
    border-radius: 100%;
    padding: 0.2rem;
    box-sizing:content-box;
}

.iconButton:hover {
    background-color: rgb(243, 242, 242);
}

.deleteIcon:hover {
    color: rgb(215, 28, 28);
}

.editIcon:hover {
    color: var(--primary-color);
}

.saveIcon:hover {
    color: lightgreen;
}

.actions, .editActions {
    display: flex;
    gap: 0.5rem;
}

.editActions {
    align-items: center;
}

.editActions .cancelButton {
    color: red;
}

.editActions .saveButton {
    color: green;
}

.nameEditInput {
    border-radius: 0.3rem;
    border: 1px solid var(--border-color);
    font-size: medium;
}


.nameEditInput:focus-visible {
    outline: 2px solid var(--primary-color);
}


.input {
    width: 100%;
    padding-right: 1rem;
}

.input input {
    width: 100%;
    padding: 0.5rem;
}

.input input:active {
    border: 1px solid var(--primary-color)
}